* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 12px;
}

window#waybar {
  background: #303446;
  color: #c6d0f5;
}

#workspaces {
  margin-left: 8px;
}

#workspaces button {
  padding: 0 6px;
  color: #c6d0f5;
  border-bottom: 2px solid transparent;
}

#workspaces button.focused {
  background: #414559;
  color: #8caaee;
  border-bottom: 2px solid #8caaee;
}

#workspaces button.urgent {
  background: #e78284;
  color: #303446;
}

#cpu,
#pulseaudio,
#network,
#backlight,
#custom-argon-battery,
#custom-claude,
#custom-help,
#custom-theme,
#custom-scale,
#custom-power {
  padding: 0 8px;
}

#cpu {
  color: #85c1dc;
}

#pulseaudio {
  color: #ca9ee6;
}

#network {
  color: #8caaee;
}

#network.disconnected {
  color: #e78284;
}

#backlight {
  color: #e5c890;
}

#custom-argon-battery {
  color: #a6d189;
}

#custom-argon-battery.warning {
  color: #ef9f76;
}

#custom-argon-battery.critical {
  color: #e78284;
}

#custom-argon-battery.charging {
  color: #e5c890;
}

#battery {
  color: #a6d189;
}

#battery.warning {
  color: #ef9f76;
}

#battery.critical {
  color: #e78284;
}

#clock {
  color: #f2d5cf;
}

#custom-claude {
  color: #ef9f76;
}

#custom-help {
  color: #babbf1;
}

#custom-theme {
  color: #ca9ee6;
}

#custom-scale {
  color: #99d1db;
}

#custom-power {
  color: #e78284;
  padding-right: 12px;
}

#tray {
  padding-right: 6px;
}

tooltip {
  background: #292c3c;
  border: 1px solid #414559;
  border-radius: 4px;
}

tooltip label {
  color: #c6d0f5;
}
